flask
openai
uuid
python-dotenv
azure-core
qdrant-client
tiktoken
openai-agents
langchain
langchain-community
rich

langchain
langchain-community
duckduckgo-search
wikipedia

trafilatura

azure-identity==1.20.0
azure-ai-projects==1.0.0b7
