flask
openai==2.5.0
uuid
python-dotenv
azure-core
qdrant-client
tiktoken
openai-agents==0.4.0
langchain
langchain-community
rich
trafilatura

azure-identity==1.20.0
# azure-ai-projects==1.0.0b7
azure-ai-projects==1.0.0b11
agent-framework
agent-framework[azure-ai]
graphviz
